.main-header
{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.5rem;
    position: relative;
}

.main-header__title
{
    display: flex;
    font-size: 5.75rem;
    letter-spacing: -1.5px;
}

.main-header__title--blue
{
    color: var(--blue);
    font-size: 3.75rem;
}

.main-header__title--orange
{
    color: var(--orange);
    font-size: 3.75rem;
}

.main-header__menu ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-header__menu a
{
    padding: .625rem;
    color: var(--gray);
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.main-header__menu a:hover
{
    background-color: var(--blue);
    color: #fff;
}
