.main-header {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.5rem;
    position: relative;
}

.main-header__title {
    display: flex;
    font-size: 5.75rem;
    letter-spacing: -1.5px;
}

.main-header__title--blue {
    color: var(--blue);
    font-size: 3.75rem;
}

.main-header__title--orange {
    color: var(--orange);
    font-size: 3.75rem;
}

.main-header__menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-header__menu a {
    padding: .625rem;
    color: var(--gray);
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.main-header__menu a:hover {
    background-color: var(--blue);
    color: #fff;
}

.search-form {
    height: 4rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-form input {
    box-sizing: border-box;
    height: 3rem;
    width: 40rem;
    padding: 0.5rem;
    background-color: var(--light-gray);
    color: var(--gray);
    border: none;
    transition: all .3s ease-in-out;
    font-size: 1.4rem;
}

.search-form button {
    width: 3rem;
    height: 3rem;
    background-color: var(--blue);
    border: none;
    color: #fff;
    font-size: 1.4rem;
}
